@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>LFS Sistemas</h3>


<p> A trajetória da LFSSistemas começou em 2019, em Belo Horizonte, MG. Sua jornada se conecta à história do desenvolvimento da infraestrutura brasileira. A empresa tem promovido soluções de sistemas nas diversas regiões brasileiras, desde sua fundação. </p>



<h4>Com atuação marcante nas esferas público-privadas, a LFSSistemas continua exercendo papel de relevância em grandes obras ao redor do Brasil. A empresa possui diferenciais reconhecidos pelo mercado, tais como:</h4>

<ul>
    <li>Capacidade produtiva;</li>
    <li>Pontualidade nas entregas;</li>
    <li>Segurança do trabalho;</li>
    <li>Colaboradores altamente qualificados e experientes;;</li>
    <li>Solidez financeira;</li>
    <li>Satisfação dos clientes;</li>
</ul>


<p>A história da LFS é marcada por grandes transformações. Com pioneirismo, a empresa ultrapassou as fronteiras de Minas Gerais, superando desafios e pavimentando o Brasil. Com planejamento, visão de futuro e ousadia, diversificou os negócios, atuando em outros segmentos na área de construção e garantindo a conquista de novos clientes.</p>



<p>Como reconhecimento da excelência dos trabalhos, a LFSSistemas conquistou importantes certificações de Qualidade, Meio Ambiente, Saúde e Segurança do Trabalho, tais como a ISO9001, ISO14001, OHSAS18001 e PBQP-H e PMQP-H.</p>



<p> As realizações foram obtidas graças à eficiência da equipe, que tem gerado resultados sustentáveis. Em 2013, a LFSSistemas configurou como destaque entre as Melhores e Maiores Empresas do Brasil na Revista Exame, sendo a primeira colocada no ranking em produtividade no setor da Tecnologia da Informação, a terceira colocada em produtividade no ranking geral e a sexta em crescimento nos últimos cinco anos no ranking geral. </p>



<h4>
    CULTURA
    MISSÃO EMPRESARIAL
</h4>
<p> Ser agente de transformação do bem-estar da sociedade, com soluções sustentáveis de engenharia.</p>



<h4>VISÃO EMPRESARIAL</h4>
<p> Ser referência nacional no segmento de infraestrutura, com desenvolvimento sustentável.</p>



<h4> VALORES INALIENÁVEIS</h4>
<ul>
    <li>Consolide relações de parceria com confiança;</li>
    <li>Pense e aja como empresário - espírito de empresário (dono);</li>
    <li>Pratique o espírito de servir;</li>
    <li>Coloque as pessoas certas nos lugares certos;</li>
    <li>Promova o desenvolvimento sustentável.</li>
</ul>

<h4>Dúvidas, reclamações e sugestões enviar e-mail para luizfernandoo1515@gmail.com ou ligue (31)998250674</h4>
