@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title.</h2>
<h3>Meus Contatos</h3>

<address>
    Avenida Adair de Sousa,253<br />
    Belo Vale, Santa Luzia, MG<br />
    <abbr title="Telefone">T:</abbr>
    (31)99825-0674
</address>

<address>
    <strong>Perfil Linkedin:</strong>   <a href="https://linkedin.com/in/luiz-fernando-silva-127038164" target="_blank">Linkedin</a><br />
    <strong>Suporte:</strong> <a href="https://www.gmail.com" target="_blank">luizfernandoo1515@gmail.com</a>
</address>